@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
 background: #090b13;
}

#suporte{
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 85%;
    top: 10%;
    cursor: pointer;
}

#filmes{
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 75%;
    top: 10%;
    cursor: pointer;
}


#lupa{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 2%;
    cursor: pointer;
}

#demo{
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 56%;
    left: 32%;
    cursor: pointer;
    font-size: 25px;
}


#nav{
    position: absolute;
    top: 64%;
    left: 25%;
    opacity: 80%;
    padding: 0 36px;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .5s ease-out;
    z-index: 4;
}

#assine{
 position: absolute;
 top: 45%;
 left: 40%;
 color: white;
 background: #6421ff;
 border: none;
 font-family: 'Poppins', sans-serif;
 border-radius: 10px;
 border: 10px;
 cursor: pointer;
 padding: 15px;
}

#logito{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 7%;
    left: 35%;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

#promo{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 37%;
    left: 33%;
}

#linha{
    position: absolute;
    top: 41%;
    left: 13%;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

